:root {
  --primary-color:  #2e64e0;
  --bg-color:       #050505;
  --card-color:     #0a0a0c;
  --border-color:   #1e1e22;
  --text-color:     #e4e4e7;
  --text-secondary: #a1a1aa;

  --pd:          calc(var(--spacing) * 2);
  --gp:          calc(var(--spacing) * 2);
  --radius-card: calc(var(--spacing) * 0);

  --bar_a: #EF4444; 
  --bar_b: #F59E0B; 
  --bar_c: #10B981; 
  --bar_d: #EC4899; 
  --bar_e: #1d78f8; 
  --bar_f: #F97316; 
  --bar_g: #8B5CF6;
  --bar_h: #99f163; 
  --bar_i: #14B8A6; 
  --bar_j: #f1cd63; 

  --success-color: #10b981;
  --warning-color: #f59e0b;
  --danger-color:  #ef4444;
  --info-color:    #00d4ff; 
}