@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";
@import "config.css";
@import "map.css";
@import "metricui-custom.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

body {
  background-color: var(--bg-color);      
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html, * {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}

html::-webkit-scrollbar, 
*::-webkit-scrollbar {
  width: 6px; 
}

html::-webkit-scrollbar:horizontal,
*::-webkit-scrollbar:horizontal {
  height: 6px; 
}

html::-webkit-scrollbar-track, 
*::-webkit-scrollbar-track {
  background: transparent !important;
}

html::-webkit-scrollbar-thumb, 
*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15) !important;
  border-radius: 10px !important;
  min-height: 40px;
}

html::-webkit-scrollbar-thumb:hover, 
*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35) !important;
}

input:focus {
  outline: none !important;
  box-shadow: none; 
}